/**
 * style.css
 * Contains CSS for basic static website named "White Graphics"
 */

/* =========================================
    Default Theme
    ----------------------------------------
    Fonts: Raleway & Montserrat
    ----------------------------------------
    Colors:
        Moon green:          #5c9320
        Grey:                #212226
        Blue:                #00596A
        White Smoke:         #f4f4f4
        White:               #fff
        Black:               #000   
============================================ */

/************************************************************************************
                                GENERAL SECTION
************************************************************************************/
html, body{
    height: 100%;
    font-size: 16px;
}
body{
    color: #212226!important;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Raleway', sans-serif;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 13px;
    font-weight: 400px;
    line-height: 1.5rem;
}

section{
    background: #FFF;
}

/************************************************************************************
                                    PRELOADER
************************************************************************************/
.loader{
    width: 100%;
    height: 100%;
    
/*    
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
*/
    position: fixed;
    z-index: 9999;
    background: #5c9320;
    background-image: linear-gradient(to right, #5c9320 2%, #63C600 82%);
}

.loader-inner{
/*    background: #CCC;*/
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.loader-blocks{
    width: 60px;
    height: 60px;
}

.loader-inner .block{
    width: 12px;
    height: 12px;
    background: #FFF;
    border-radius: 100%;
    position: absolute;
    opacity: 0;
    animation: load 4.6s ease-in-out infinite;
}
#block-1{
    top: 0;
    left: 0;
    animation-delay: 1.06s;
}
#block-2{
    top: 0;
    left: 16px;
    animation-delay: .98s;
}
#block-3{
    top: 0;
    left: 32px;
    animation-delay: .90s;
}
#block-4{
    top: 0;
    left: 48px;
    animation-delay: .82s;
}
#block-5{
    top: 16px;
    left: 0;
    animation-delay: .74s;
}
#block-6{
    top: 16px;
    left: 16px;
    animation-delay: .66s;
}
#block-7{
    top: 16px;
    left: 32px;
    animation-delay: .58s;
}
#block-8{
    top: 16px;
    left: 48px;
    animation-delay: .50s;
}
#block-9{
    top: 32px;
    left: 0;
    animation-delay: .42s;
}
#block-10{
    top: 32px;
    left: 16px;
    animation-delay: .34s;
}
#block-11{
    top: 32px;
    left: 32px;
    animation-delay: .26s;
}
#block-12{
    top: 32px;
    left: 48px;
    animation-delay: .18s;
}
#block-13{
    top: 48px;
    left: 0;
    animation-delay: .10s;
}
#block-14{
    top: 48px;
    left: 16px;
    animation-delay: .02s;
}
#block-15{
    top: 48px;
    left: 32px;
    animation-delay: -0.06s;
}
#block-16{
    top: 48px;
    left: 48px;
    animation-delay: -0.14s;
}

@keyframes load{
    0%{
        opacity: 0;
        transform: translateY(-100px);
    }
    15%{
        opacity: 0;
        transform: translateY(-100px);
    }
    30%{
        opacity: 1;
        transform: translateY(0);
    }
    70%{
        opacity: 0;
        transform: translateY(100px);
    }
    85%{
        opacity: 0;
        transform: translateY(100px);
    }
    100%{
        opacity: 0;
        transform: translateY(100px);
    }
}

/************************************************************************************
                                HELPER SECTION
************************************************************************************/

.text-primary{
    color: #5c9320!important;
    font-weight: 500!important;
}

/************************************************************************************
                            LINE ICONS SECTION
************************************************************************************/

[class^="lni-"]{
    display: inline-block;
}

/************************************************************************************
                                OWL CAROUSEL SECTION
************************************************************************************/
.owl-theme .owl-nav [class*=owl-]{
    color: #212229;
    font-size: 2.5rem;
    background: none;
}
.owl-theme .owl-nav [class*=owl-]:hover{
    background: none;
    color: #5c9320;
}

/************************************************************************************
                            CONTENT SECTION
************************************************************************************/
.content-box-lg{
    padding: 120px 0;
}
.content-box-md{
    padding: 100px 0;
}
.content-box-sm{
    padding: 80px 0;
}

/************************************************************************************
                            VERTICAL/HORIZONTAL SECTION
************************************************************************************/
.vertical-heading h5{
    color: #5c9320;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    word-spacing: .6rem;
    display: inline-block;
    position: relative;
    transform: rotate(-90deg);
    top: 60px;
    left: -55px;
}
.horizontal-heading{
    text-align: center;
}
.vertical-heading h2{
    margin: 0 0 0 35px;
    font-size: 2rem;
}
.horizontal-heading h2{
    font-size: 2.6rem;
}
.horizontal-heading h5{
    color: #5c9320;
    font-size: 1rem;
    font-weight: 500;
    text-transform: uppercase;
}
.vertical-heading h2,
.horizontal-heading h2{
    font-weight: 100;
    line-height: 2.8rem;
}

/************************************************************************************
                                BUTTONS SECTION
************************************************************************************/
.btn-general{
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-size: 13px;
    margin: 0 6px;
    border-radius: 30px;
    padding: 12px 40px;
    transition: all .4s;
    display: inline-block;
}
.btn-general.btn-theme{
    color: #FFF;
    background-color: #5c9320;
}
.btn-general.btn-theme:hover,
.btn-general.btn-theme:focus{
    background-color: #212226;
    color: #FFF;
}
.btn-general.btn-gradient{
    color: #FFF;
    background-size: 200%;
    background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5c9320 100%);
}
.btn-general.btn-gradient:hover{
    color: #FFF;
    background-position: right center;
}
.btn-back-to-top{
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 5px 15px;
    border-radius: 5px;
    font-size: 22px;
    display: none;
}

/************************************************************************************
                                SOCIAL ICONS
************************************************************************************/
ul.social-list{
    padding: 0;
    list-style: none;
}
ul.social-list li{
    display: inline-block;
    padding: 0;
}
ul.social-list li a{
    border: solid 1px #FFF;
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 100%;
    text-align: center;
    line-height: 35px;
    transition: all .3s;
    color: #FFF;
}
ul.social-list li.fb-icon a:hover{
    background: #3B5998;
}
ul.social-list li.twitter-icon a:hover{
    background: #00ACED;
}
ul.social-list li.google-plus-icon a:hover{
    background: #DD4B39;
}
/************************************************************************************
                                HOME SECTION
************************************************************************************/
#home{
    height: 100%;
    background: none;
}
#home-bg-video{
    min-width: 100%;
    min-height: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}
#home-overlay{
    background: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -1;
}
#home-content{
    width: 100%;
    height: 100%;
    display: table;
    color: #FFF;
}
.home-content-inner{
    display: table-cell;
    vertical-align: middle;
}
.home-heading{
    font-size: 3.2rem;
    font-weight: 100;
    text-transform: capitalize;
    margin: 0;
}
.home-heading span{
    font-weight: 500;
}
.home-paragraph{
    font-size: 1.1rem;
    font-weight: 100;
    margin: 10px 0 30px 0;
}
#arrow-down{
    position: absolute;
    left: 50%;
    bottom: 20px;
    height: 32px;
    width: 32px;
    font-size: 2rem;
/*    margin-left: -.5rem;*/
    color: #FFF;
    text-decoration: none;
}
#arrow-down:hover{
    color: #5c9320;
}

/************************************************************************************
                                ABOUT SECTION
************************************************************************************/
#about-01 p{
    margin-bottom: 30px;
}
#about-01 p:last-child{
    margin-bottom: 60px;
}
#about-image img{
    margin: 0 auto;
}

#about-02{
    background: #F4F4F4;
}
.about-item{
    color: #212229;
    background: #FFF;
    padding: 80px 30px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: all .3s;
}
.about-item i{
    font-size: 2.6rem;
    margin: 0;
    transition: transform .3s;
}
.about-item h3{
    font-size: 1.5rem;
    margin-bottom: 20px;
}
.about-item hr{
    width: 45px;
    height: 3px;
    background-color: #5c9320;
    margin: 0 auto;
    border: none;
    transition: all .3s;
}
.about-item p{
    margin-top: 20px;
}
.about-item:hover{
    background: #5c9320;
    color: #FFF;
}
.about-item:hover hr{
    background-color: #FFF;
}
.about-item:hover i{
    transform: translateY(-20px);
}

/************************************************************************************
                                TEAM SECTION
************************************************************************************/

#team-left .vertical-heading{
    margin-bottom: 40px;
} 
.team-member{
    position: relative;
    margin: 10px;
}
.team-member-overlay{
    background-color: rgba(0, 0, 0, .8);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s;
    opacity: 0;
}
.team-member-info{
    text-align: center;
    width: 115px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.team-member-info h6{
    color: #5c9320;
    font-size: 1rem;
    font-weight: 500;
}
.team-member-info p{
    color: #FFF;
}
.team-member:hover .team-member-overlay{
    opacity: 1;
}

/************************************************************************************
                                SKILL SECTION
************************************************************************************/
.skill{
    margin-bottom: 40px;
}
.skill h4{
    margin-bottom: 30px;
    font-weight: normal;
}

.progress{
    height: 12px;
    border-radius: 25px;
    background: #EFEFEF;
    overflow: visible;
}
.progress-bar{
    
    background-image: linear-gradient(to right, #5c9320 0%, #63C600 51%, #5C9320 100%);
    border-radius: 25px;
    position: relative;
}
.progress-bar span{
    font-family: 'Montserrat', sans-serif;
    position: absolute;
    background: #212229;
    top: -40px;
    right: -14px;
    padding: 3px;
}
.progress-bar span:before{
    content: "";
    display: block;
    border-top: solid 8px #212229;
    border-right: solid 6px transparent;
    border-left: solid 6px transparent;
    position: absolute;
    bottom: -8px;
    left: 28%;    
}

/**********************************************************
                            STATEMENT SECTION
***********************************************************/

#statement{
    background: url("../img/tech/tech-statement.jpg") no-repeat fixed center;
    background-size: cover;
    
}
#statement .content-box-lg{
    background: rgba(0, 0,0,0.4);
}
#tech-statement h3{
    color: #FFF;
    font-size: 28px;
    line-height: 45px;
}
#tech-statement p{
    font-size: 14px;
    font-family: "Raleway", sans-serif;
}

/**********************************************************
                            SERVICES SECTION
***********************************************************/

#services-01 img{
    margin: 50px 0; /*yet to decide*/
}

.service{
    margin: 35px 0;
}

.service .icon{
    font-size: 40px;
    text-align: right;
    transition: all .4s linear;
}

.service:hover .icon{
    color: #5c9320;
    transform: translateX(-20px);
}
.service:hover h5{
    color: #000;
}

.service h5{
    font-size: 12px;
    text-transform: uppercase;
    color: #5c9320;
    margin: 0 0 10px 0;
    transition: all .3s linear;
}
.service h4{
    font-size: 24px;
    margin: 0 0 10px 0;
}
.service p{
    line-height: 1.3;
}



#services-02{
    background: #F4F4F4;
}

#services-tabs ul{
    margin-bottom: 40px;
}
#services-tabs ul li{
    padding: 5px 30px;
}
#services-tabs ul li a{
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    text-transform: uppercase;
    color: #212226;
    font-weight: 400;
    padding: 0;
    text-decoration: none;
}

#services-tabs ul li.r-tabs-state-active a{
    color: #5c9320;
    padding-bottom: 5px;
    border-bottom: 3px solid #5c9320;
    font-weight: 700;
    transition: border-color .3s linear;
}
/**********************************************************
                            SERVICES SECTION
***********************************************************/

#portfolio{
    
}
#portfolio .vertical-heading{
    margin-bottom: 50px;
}

.portfolio-item{
    overflow: hidden;
    position: relative;
}
.portfolio-item img{
    width: 100%;
    height: auto;
    transition: all .3s ease;
}

.portfolio-item:hover img{
    transform: scale(1.1);
}
/*Overlay Effect*/
.portfolio-item-overlay{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(92, 147, 32, 0.8);
    opacity: 0;
    transition: all 0.3s ease;
}
.portfolio-item-details{
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}

.portfolio-item-details h3{
    color: #F4F4F4;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 0;
    transform: translateY(-20%);
    transition: all .3s ease;
}

.portfolio-item-details span{
    display: inline-block;
    border-top: solid 1px #FFF;
    border-bottom: solid 1px #FFF;
    width: 30px;
    height: 6px;
    margin: 10px auto;
}
.portfolio-item-details p{
    font-size: 16px;
    color: #FFF;
    margin: 0;
    padding: 0;
    transform: translateY(20%);
    transition: all .3s ease;
}


.portfolio-item:hover .portfolio-item-details h3,
.portfolio-item:hover .portfolio-item-details p{
    transform: translateY(0);
}
.portfolio-item:hover .portfolio-item-overlay{
    opacity: 1;
}

.row.no-gutters [class*=col-]{
    padding: 0;
}

#isotope-filters{
    margin-bottom: 10px;
}
#isotope-filters button{
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-transform: uppercase;
    background: transparent;
    box-shadow: none;
    padding-right: 35px;
    outline: 0;
}
#isotope-filters button span{
    display: block;
    transition: all .3s ease;
}

#isotope-filters button.active span{
    border-bottom: solid 2px #5c9320;
}
/*TESTIMONIALS*/
#card .image img{
    width: 100px;
    height: 100px;
    border-radius: 100%;
}
#card{
    position: relative;
    right: 32%;
    width: 747px;
    height: 375px;
    background-color: #5c9320;
    color: #FFF;
    padding: 25px 45px;
}
.stars{
    position: relative;
    left: 40%;
    transform: scale(0.7);
}
.text{
    position: relative;
    top: 5%;
    line-height: 1.2;
}
.image{
/*    width: 300px;*/
    position: relative;
    top: 20px;
}
.name{
    position: relative;
    left: 20%;
    bottom: 70px;
    line-height: 1.2;
}
#card [class^="lni-"]:hover{
    color: #FFF;
}
#test .vertical-heading{
    
}

/**********************************************************
                            STATS SECTION
***********************************************************/
#stats{
    background: url('../img/stats/stats-bg.jpg') no-repeat fixed center;
    background-size: cover;
}

#stats .vertical-heading{
    margin-bottom: 50px;
}
#stats .vertical-heading h2{
    color: #FFF;
}

.stats-item{
    background: rgba(61, 68, 69, 0.6);
    border-radius: 5px;
    min-height: 170px;
    padding: 25px 50px;
    transition: all .4s linear;
}
.stats-item i{
    font-size: 42px;
    color: #5c9320;
    margin: 0 0 5px 0;
    transition: all .4s linear;
}
.stats-item h3{
    font-size: 32px;
    color: #FFF;
    margin: 5px 0;
}
.stats-item p{
    color: #FFF;
    margin: 0;
}

.stats-item:hover{
    background: #5c9320;
}
.stats-item:hover i{
    color: #212226;
    transform: translateY(-20px);
}
/**********************************************************
                        NAVIGATION
***********************************************************/

.navbar{
    padding: 35px 0 20px;
    transition: all .3s linear;
}

.navbar .navbar-nav{
    transform: translateY(50%);
}

.navbar-brand{
    padding: 0 15px 15px;
}

ul.navbar-nav>li>a{
    font-family: "Raleway", sans-serif;
    color: #FFF;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    letter-spacing: 1px;
    padding: 5px 0;
    min-width: 100px;
    text-align: center;
}

ul.navbar-nav>li>a:hover,
ul.navbar-nav>li>a:focus{
    background: none;
}

.scrolled-navbar{
    padding: 10px 0;
    z-index: 2;
}

.green-nav-top{
    background: linear-gradient(to right, #63C600 2%, #5c9320 82%);
}

.white-nav-top{
    background: #FFF;
    color: #212226;
}

.green-nav-top ul.navbar-nav>li.active{
    border-radius: 20px;
    background-color: #00596A;
    font-weight: 500;
}
#mobile-nav-open-btn,
.mobile-nav-content,
#mobile-nav-close-btn{
    display: none;
}
/*
section#test-section{
    background: #F4F4F4;
}
*/
.cards{
    position: relative;
    left: 10px;
}
section#blog{
    background: #F4F4F4;
}
section#blog img{
    border-radius: 100%;
    margin-right: 10px;
}
section#blog .col-md-3{
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px #F4F4F4;
}
section#blog .first-card{
    margin-right: 35px;    
}
section#blog .col-md-3{
    font-size: 12px;
}
section#blog .col-md-3 a:hover{
    text-decoration: none;
    color: #212226!important;
    transition: all .3s linear;
}
#contact .col-md-6{
    position: relative;
    left: -10px;
}
#contact span.fb,
#contact span.twitter,
#contact span.google-plus{
    width: 30px;
    height: 30px;
    line-height: 30px;
    text-align: center;
    border: solid 1px #000;
    cursor: pointer;
    border-radius: 100%;
}
#contact span:hover{
    color: #FFF;
    transition: all .3s linear;
}
#contact span.fb:hover{
    background: #3B5998;
}
#contact span.twitter:hover{
    background: #00ACED;
}
#contact span.google-plus{
    width: 35px;
/*    padding: 0 5px;*/
}
#contact span.google-plus:hover{
    background: #DD4B39;
}
#contact .col-md-6 .fa-envelope,
#contact .col-md-6 .fa-map-marker{
    position: relative;
    left: -5px;
}
#contact .col-md-6 p{
    width: 240px;
}
#contact .col-md-6 h2{
    position: relative;
    left: -3px;
    font-size: 20px;
}
#contact i{
    transform: scale(1.5)
}
#contact #msg{
    width: 445px;
    border-radius: 5px;
    padding: 10px 15px;
    height: 164px;
    margin-bottom: 10px;
}
#contact input{
    padding: 5px 10px;
    margin-right: -10px;
}
#contact input[type=email]{
    position: relative;
    left: -20px;
}
#contact .form{
    box-shadow: 20px 10px 50px 15px #F0F0F0;
    position: relative;
    left: 10%;
}
#contact .content{
/*    width: 442px;*/
    position: relative;
    left: 10%;
    padding-bottom: 15px;
}
section#blog .col-md-3 i{
    position: relative;
    top: 5px;
}
section#blog .col-md-3 h2{
    font-size: 1rem;
}
#client-section .horizontal-heading{
    position: relative;
    top: -40px;
}
#client-section .horizontal-heading h2{
    position: relative;
    top: -10px;
}
#client-section .horizontal-heading h2 .text-primary{
    font-weight: 700;
}
#clients img{
    transform: scale(0.7);
}
#map{
    height: 600px;
}
section#footer{
    background: #212226;
    height: 80px;
    color: #FFF;
}
section#footer .row h2{
    font-family: "Montserrat",sans-serif;
    font-size: 14px;
    line-height: 50px;
}
/*Scrollbars*/

::-webkit-scrollbar{
    width: 12px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb{
    background: #5c9320;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:window-inactive{
    background: rgba(147, 203, 82, 0.4);
}

::selection{
    background: rgba(147, 203, 82, 0.6);
}